{% extends 'index.html'%}

{% block contents %}
<div id="mid-level" class="bg-dark mb-4">
<h4 class="text-center text-white">About Me</h4>
</div>

<div class="p-1">
<div class="pp1">
<div class="container d-flex flex-column justify-content-center align-items-start">
<div class="box-content box-content-1">
<h5>Career Focused</h5>
<p>When You Need to Provide Your Career History When you apply for jobs, companies typically require that applicants provide their work history, either on their resume or on a job application, or both. The job application may ask for information on your most recent jobs, typically two to five positions. Or, the employer may ask for a number of years of experience, typically five to ten years of experience.
</p>
</div>
</div>
</div>

<div class="pp2">
<div class="container d-flex flex-column justify-content-center align-items-end">
<div class="box-content box-content-2">
<h5 >Company History</h5>
<p >Employers generally want information on the company you worked for, your job title, and the dates you were employed there. However, sometimes the employer will ask for a more detailed employment history and more information on the jobs you have held as part of the hiring process. For example, they might ask for the name and contact information for your previous supervisors.
</p>
</div>
</div>
</div>

<div class="pp3">
<div class="container d-flex flex-column justify-content-center align-items-start">
<div class="box-content box-content-1" data-scroll>
<h5 >What Employers Are Looking For</h5>
<p>Employers review employment history to determine whether the jobs the applicant has held and their experience are a good match for the company's requirements. They also look at how long the person has held each job. Many jobs of short duration may imply the candidate is a job hopper and won't stay long if hired.
</p>
</div>
</div>
</div>


<div class="pp4">
<div class="container d-flex flex-column justify-content-center align-items-end">
<div class="box-content box-content-2" data-scroll>
<h5>Company Prospective</h5>
<p>Prospective employers also use your work history to verify the information you have provided. Many employers conduct employment background checks to confirm the information is accurate. Background checks have become increasingly common in all work industries, so make sure that the information you share is accurate.
</p>
</div>
</div>
</div>


<div class="pp5">
  <div class="container d-flex flex-column justify-content-center align-items-start">
      <div class="box-content box-content-1" data-scroll>
            <h5>Recreating Your Job History</h5>
            <p>Sometimes, it can be difficult to remember elements of your job history, such as the specific dates that you worked at a company. When this happens, don’t guess. Because background checks are so common, it is likely that an employer will spot a mistake on your history, and it could cost you a job.
            </p>
      </div>
  </div>
</div>


</div>


{% endblock contents %}