{% extends 'index.html'%}
{% load static %}

{% block title %}
<title>My Projects</title>
{% endblock title %}

{% block contents %}
<div id="mid-level" class="bg-dark mb-4">
<h4 class="text-center text-white">Different Types of Authentication(Website)</h4>
</div>

<div class="container-fluid">
 <!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img src="{%  static 'img/white.jpg' %}"
      data-src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img src="{%  static 'img/white.jpg' %}"
      data-src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img src="{%  static 'img/white.jpg' %}"
      data-src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img src="{%  static 'img/white.jpg' %}"
      data-src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img src="{%  static 'img/white.jpg' %}"
      data-src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img src="{%  static 'img/white.jpg' %}"
      data-src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
</div>
<!-- Gallery -->
</div>
{% endblock contents %}